| Hi #{name},
| 
| We're excited to inform you that you've been added to the #{teamName} team. Your contribution is highly valued, and we look forward to working together to achieve our goals. If you have any questions or need assistance getting started, feel free to reach out.
| Best regards,
| PlanIt Poker