| Hi #{name},
| We regret to inform you that your access to the PlanIt Website has been revoked, effective immediately. We appreciate your efforts and contributions to the project. If you have any questions or concerns, please feel free to contact us.
|
| Best regards,
| PlanIt Poker