| Hi #{name},
| We regret to inform you that you've been removed from the #{teamName} team. We appreciate your contributions during your time with #{teamName} and wish you all the best in your future endeavors. If you have any queries or require further information, please don't hesitate to contact us.
|
| Best regards,
| PlanIt Poker