div(style="font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; padding: 20px; border-radius: 10px;")
  h2(style="color: #dc3545;") Important: Update on Your Team Membership
  p(style="margin-top: 10px;") Hi #{name},
  p(style="margin-top: 10px;") We regret to inform you that you've been removed from the #{teamName} team. We appreciate your contributions during your time with #{teamName} and wish you all the best in your future endeavors. If you have any queries or require further information, please don't hesitate to contact us.
  p(style="margin-top: 20px;") Best regards,
  p PlanIt Poker