| Hi #{name},
| We wanted to inform you that you've been removed from the Project Manager role. We appreciate your dedication and hard work in the position. If you have any queries or require further clarification, please don't hesitate to contact us.
|
| Best regards,
| PlanIt Poker