div(style="font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; padding: 20px; border-radius: 10px;")
  h2(style="color: #ffc107;") Update: Change in Scrum Master Role
  p(style="margin-top: 10px;") Hi #{name},
  p(style="margin-top: 10px;") We wanted to inform you that your role as the Scrum Master for the sprint in team #{teamName} has been reassigned. Thank you for your contributions in the previous sprint, and we appreciate your continued support as a team member.
  p(style="margin-top: 20px;") Best regards,
  p PlanIt Poker