div(style="font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; padding: 20px; border-radius: 10px;")
  h2(style="color: #28a745;") Congratulations! You're the New Scrum Master
  p(style="margin-top: 10px;") Hi #{name},
  p(style="margin-top: 10px;") Congratulations! You've been assigned as the Scrum Master for the upcoming sprint in the team #{teamName}. Your role is crucial in ensuring the success of the team. Please let us know if you have any questions or need support in your new role.
  p(style="margin-top: 20px;") Best regards,
  p PlanIt Poker