| Hi #{name},
| Congratulations! You've been assigned as the Scrum Master for the upcoming sprint in the team #{teamName}. Your leadership and expertise will be invaluable in guiding the team towards success. Should you need any assistance or resources, feel free to reach out to us.
|
| Best regards,
| PlanIt Poker
