div(style="font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; padding: 20px; border-radius: 10px;")
  h2(style="color: #28a745;") Welcome to Your New Role as Project Manager
  p(style="margin-top: 10px;") Hi #{name},
  p(style="margin-top: 10px;") Congratulations on being appointed as the new Project Manager! Your leadership and vision will play a crucial role in driving the success of our projects. If you need any support or have questions about your responsibilities, feel free to get in touch.
  p(style="margin-top: 20px;") Best regards,
  p PlanIt Poker
